{% extends 'base.html' %}

{% load static %}

{% block header %}
  <title>О компании</title>
{% endblock %}

{% block content %}
  <div class="content content-about">
    <div class="text-wrapper">
      <h1>О компании</h1>

      <p>ООО "Трак Моторс" предоставляет в аренду площади в имущественном комплексе по адресу г. Челябинск ул.
        Валдайская,
        д. 17.</p>
      <p>К услугам арендаторов:</p>

      <ul>
        <li>офисные помещения общей площадью 750 кв.м. (минимальная площадь 10,7 кв.м)</li>
        <li>производственно-складские помещения общей площадью 2 850 кв.м (минимальная площадь 52 кв.м.) со всеми видами
          коммуникаций: тепло-водоснабжение, эл. энергия, канализация.
        </li>
        <li>парковочная зона на 200 мест перед комплексом с возможностью расширения</li>
        <li>автомобильная мойка на территории комплекса</li>
        <li>открытые площадки для размещения имущества/служебного автотранспорта арендаторов общей площадью более 45 000
          кв.м.
        </li>
        <li>удобные погрузочно-разгрузочные зоны</li>
        <li>возможность дооснащения складских помещений грузоподъемными механизмами</li>
        <li>большие свободные мощности по электроэнергии.</li>
        <li>охраняемая территория</li>
        <li>телефон, интернет</li>
        <li>собственная столовая</li>
        <li>возможность удачного партнерства в среде арендаторов нашего офисно-промышленного комплекса.</li>
      </ul>

      <p class="idented">В имущественном комплексе ООО "Трак Моторс" можно снять производственное, офисное и складское
        помещение без
        посредников. Мы предлагаем своим арендаторам гибкие и комплексные решения по аренде офисных, складских и
        производственных помещений и предоставляем весь пакет необходимых документов:</p>

      <ul>
        <li>Свидетельство о собственности.</li>
        <li>Технические условия коммуникаций и их проведение.</li>
        <li>Выписка из государственного реестра.</li>
        <li>Кадастровый паспорт.</li>
        <li>Договор с коммунальными службами.</li>
        <li>После получения вашего окончательного согласия, мы подписываем с вами договор аренды торгового помещения.
          Если
          вы планируете заключить договор на срок более года, то он регистрируется в государственной регистрационной
          палате.
        </li>
      </ul>

      <p class="idented">Принимая решение об аренде складского или производственного помещения в офисно-промышленном
        комплексе ООО "Трак
        Моторс" , вы делаете правильный выбор, потому что выбираете именно те площади и возможности, которые обеспечат
        вашему бизнесу условия для полноценной и продуктивной работы ваших сотрудников.</p>
    </div>
    <div class='map'>
      <a target="_blank"
         href="http://pkk5.rosreestr.ru/#x=6841085.94223262&y=7401552.573248722&z=17&text=55%2C204366%2061%2C454553&type=1&app=search&opened=1">
        <img src="{% static 'arenda/images/map.png' %}">
      </a>
    </div>

  </div>
{% endblock %}