{% extends 'base.html' %}

{% block header %}
  <title>Контакты</title>
{% endblock %}

{% block content %}
  <div class="content content-contact">
    <h1>Контакты</h1>

    <div class="contact-wrap">
      <div class="contact-info">
        <h3>
          Аренда производственных помещений
          <br>
          ООО "Трак Моторс"
        </h3>

        <p>
          Имущественный комплекс ООО "Трак Моторс" расположен недалеко от делового центра города Челябинска и готов
          предложить своим арендаторам гибкие и комплексные решения по аренде офисных, складских и производственных
          помещений.
        </p>

        <p>
          Высокая транспортная доступность с ул. Героев Танкограда и проспекта Победы, наличие большого количества
          свободных парковочных мест, современные офисы оборудованные в соответствии с со всеми требованиями, удобные
          складские и производственные площади имеющие грузоподъёмные механизмы, водоснабжение и водоотведение,
          отопление
          и большие электрические мощности обеспечат вам и вашим сотрудникам все условия для успешного ведения вашего
          бизнеса.
        </p>

        <p><b>Адрес: &nbsp;</b>Челябинск, ул. Валдайская, 17</p>

        <p><b>Телефон: &nbsp;</b>+7 (999) 999-99-99</p>

        <p><b>Email: &nbsp;</b>mail@example.com</p>

      </div>

      <div class="contact-form">
        {% include 'arenda/_contact_form.html' %}
      </div>
    </div>

    <div class="map">
      <script charset="utf-8" async
              src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um={{ yandex_um }}&amp;width=100%25&amp;height=355&amp;lang=ru_RU&amp;scroll=true">
      </script>
    </div>
  </div>

{% endblock %}