{% load pipeline %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block header %} {% endblock %}

  {% stylesheet 'vendor' %}
  {% stylesheet 'main' %}

  <!--[if lt IE 9]>
    {% javascript 'ltie9' %}
  <![endif]-->

  {% javascript 'vendor' %}
  {% javascript 'main' %}

</head>
<body>

{% include 'arenda/_top_menu.html' %}

<div class="wrapper">

  {% block content %} {% endblock %}

  {% include 'arenda/_footer.html' %}

</div>

</body>
</html>